<!DOCTYPE html>
<html>
  <head>
    <title>Talman Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4"> 
        {{company_name}} Careers
      </h1>
      <img class="img-fluid" id="banner" src="https://careers-website-1.talhamatal.repl.co/static/banner_new.jpg">
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed adipiscing diam donec adipiscing tristique. Faucibus vitae aliquet nec ullamcorper sit. Tincidunt augue interdum velit euismod in pellentesque massa. Id faucibus nisl tincidunt eget nullam. In ornare quam viverra orci sagittis. Velit egestas dui id ornare arcu odio ut sem. Justo eget magna fermentum iaculis eu non diam phasellus. In hac habitasse platea dictumst vestibulum rhoncus est. Euismod quis viverra nibh cras pulvinar. Eu non diam phasellus vestibulum lorem. Rhoncus est pellentesque elit ullamcorper. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Pulvinar pellentesque habitant morbi tristique senectus et.</p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div >
        {%for job in jobs%}
          {% include 'jobitem.html'%}
        {% endfor %}
      </div>
      <div class="text-center">  
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2022, Talman</p>
      </div>
    </div> 
  </body>
</html>